body {
    background-color:  #F7F4EA; 
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 50px 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100px;
}


h1 {
    font-size: 36px;
    color: #B87C4C; 
    margin-bottom: 40px;
    border-bottom: 2px solid #A8BBA3;
    padding-bottom: 10px;
}


.project-link {
    display: inline-block;
    padding: 15px 30px; 
    background-color: #B87C4C; 
    color: #FFFFFF; 
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 15px; 
}

